<header class="header border-bottom sticky-top bg-light">
  <nav class="navbar navbar-expand-sm px-3">
    <a class="navbar-brand" href="../index.html">
      <!-- <img src="../assets/img/logo.webp" alt="" /> -->
      <span class="text-primary fw-bold">TEDx</span>Minoru Park <span class="fw-bold">Youth</span>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../history.html" id="faqDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FAQs</a>
          <div class="dropdown-menu" aria-labelledby="faqDropdown">
            <a class="dropdown-item" href="../faq.html#contact">Contact</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
          <div class="dropdown-menu" aria-labelledby="aboutUsDropdown">
            <a class="dropdown-item" href="../team.html">Our Team</a>
            <a class="dropdown-item" href="../history.html">History</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  </header>
  